# Copier ce fichier en ".env" et remplir avec vos vraies valeurs.
# Le fichier ".env" ne doit JAMAIS être commité sur GitHub (voir .gitignore).

DB_HOST=localhost
DB_PORT=5432
DB_NAME=web-aida
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe_ici
